.goal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 55rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5rem;
  margin: 1rem;
}

.goal-card-header {
  width: 100%;
  margin: 1rem;
  padding: 0 1rem;
}

.goal-card__title {
  /* color: #07441F; */
  font-size: 2rem;
  font-weight: 600;
  word-wrap: wrap;
  margin: 0;
  margin-bottom: 1rem;
}

.goal-card__desc {
  background-color: #ededed;
  font-size: 1.5rem;
  word-wrap: wrap;
  padding: 1rem; 
}

.goal-subcard {
  margin: 0 1.5rem;
}

.goal-card__dates {
  font-size: 1.4rem;
}

.goal-card__label {
  margin-left: 1rem;
  font-weight: 600;
  color: #003333;
}

.milestone__table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.25rem;
  
}

.milestone-header {
  height: 2.5rem;
  background-color: #BDDDEA;
}


.milestone-header > th{
  border: 2px solid #5B879B;
}

.milestone-title {
  width: 15rem;
  text-align: left;
  padding: 0 1rem;
}

.milestone-desc {
  width: 30rem;
  text-align: left;
  padding: 0 1rem;
}

.milestone-date {
  width: 5rem;
  text-align: center;
}

.milestone__row > td{
  height: 2.25rem;
  border: 2px solid #5B879B;
}