.milestone-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 2px solid #07441F;
}

.milestone-subform {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
}

.milestone-form__label {
  font-size: 1.25rem;
  margin: 1rem 1rem .5rem 0;
}

.milestone-form__input {
  font-size: 1.25rem;
}

.milestone-form__input--date {
  font-size: 1.25rem;
  height: 2.5rem;
  width: 10rem;
  padding-left: 1rem;
}

.milestone-form-desc {
  width: 30rem;
}

.milestone-form-date {
  text-align: center;
}

.milestone__button {
  background-color: #5B879B;
  color: white;
  margin-left: 2rem;
  font-size: 1.25rem;
  padding: 1.25rem 2rem;
}