body {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;

  &--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main {
  margin: 3rem 5rem;
}

/* The styling below is to remove up/down arrows from input/number elements */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}