.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  padding: 2rem 3rem;
  margin: 1rem;
  height: 0%;

  // Alternate sizing for different cards
  &--activity {
    width: 29rem;
  }

  &-header {
    width: 100%;
    margin-bottom: 2rem;

  }

  &-title {
    font-size: 1.75rem;
    margin: 1.5rem 0;
  }

  &-desc {
    background: #ededed;
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid #e5e5e5;
    font-size: 1.4rem;
  }

  &-controls {
    justify-content: flex-end;
  }

  &-controls__button {
    font-size: 2rem;
    font-weight: 600;
    border: none;
    outline: none;
    color: grey;
    cursor: pointer;
  }

  // All styling for forms within cards
  &-form {
    width: 100%;

    &__row {
      margin-top: .75rem;
      align-self: center;
    }
  
    &__label {
      font-size: 1.25rem;
      margin: .5rem;      
    }

    &__button {
      align-self: center;
      margin-top: 2rem;
      width: 20rem;
      height: 4rem;
      font-size: 1.5rem;
      background-color: #5B879B;
      color: white;
      cursor: pointer;
    }

    &__input {
      font-size: 1.25rem;
      line-height: 2rem;
      padding-left: .5rem;
    
      &--short {
        font-size: 1.25rem;
        line-height: 2rem;
        padding-left: .5rem;
        margin-left: .5rem;
        width: 2rem;
      }
    }
  }


}